* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 45px 40px;
}

header h1, header a {
    font-size: 20px;
}

.main {
    text-align: center;
    padding: 15px;
}

.title {
    font-size: 35px;
}

.instructions {
    font-size: 24px;
    width: 59%;
    margin: auto;
    padding: 20px;
}

.start-btn {
    background-color: blueviolet;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.question {
    font-size: 35px;
    margin: 0 200px 0 300px;
    text-align: left;
    padding: 5px;
}

.answer-option {
    display: block;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    width: 275px;
    text-align: left;
    font-size: 20px;
    margin: 5px 0 5px 300px;
}

.timed-out-title {
    font-size: 35px;
    padding: 5px;
}

.timed-out-goodbye {
    font-size: 25px;
    padding: 5px;
}

.timed-out-button-reset {
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin: 10px;
}